.container{

    display: flex;
    border: 1px solid #d7d7da;
    position: relative;
    margin: auto;
    width: 700px;
    top: 100px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}
.fpHeader{

}
.fbMain{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}
.fpContainer
{
  margin: auto;
  width: 500px;

}
.fbBoxContainer{
    display: flex;

}
.fbBox{
    width: 51pt;
    height: 51pt;
    border-radius: 8pt;
    border: 1px solid #CCCCCC;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-size: 14pt;
}